body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    font-size: 18px;
    margin: 0px;
}


header {
    background-color: darkblue;
    color: white;
    font-family: center;
    margin: 0px;
    padding: 10px;
    font-family: Arial;
    font-size: 16pt;
}

main {
    background-color: white;
    color: black;
    font-family: center;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    font-family: Arial;
    border-radius: 10px
}

footer {
    background-color: darkblue;
    color: white;
    font-family: center;
    padding: 10px;
    width: 100%;   
    font-size: 16px;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: darkblue;
    transition: 1s 0.4s;
}

a:link {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color: white;
    text-decoration: underline;
    background-color: rgb(104, 194, 230);
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(125, 174, 202, 0.877);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}